

@baseContainer(None) {
        
    <div class="alert-message block-message info">
        <p>
            <strong>Welcome gambler!</strong> 
            To start, choose a username and sign in.
        </p>
        <input type="text" placeholder="Enter a name here">
    </div>
    <input type="button" ng-click="reveal()" value="reveal"/>
   	
		open cards:   		
	   	<ul>
	   		<li ng-repeat="card in handSet.open">
   				<div class="row-fluid">
			   		<span class="span2">{{card.number}}, {{card.color}}</span>
			   		<span class="offset2 span2">
			   			<input type="button" ng-click="playCard(card)" value="play card"/>
			   		</span>	
   				</div>
	   		</li>
	   	</ul>
   	<div class="row-fluid">
   		topStack: {{handSet.topStack.number}}, {{handSet.topStack.color}}
   		<input type="button" ng-click="playCard(handSet.topStack)" value="play card"/>
   	</div>
   	<div class="row-fluid">
   		revealed hand card: {{handSet.revealed.number}}, {{handSet.revealed.color}}
   		<input type="button" ng-click="playCard(handSet.revealed)" value="play card"/>
   	</div>
   	
   	<div class="row-fluid">
		table state 		
	   	<ul>
	   		<li ng-repeat="stack in tableState" ng-class="{selected: stack.stackId==selectedStackId}">
	   			{{stack.stackId}}: {{stack.topCard.number}}, {{stack.topCard.color}}
	   			<input type="button" ng-click="toggleStackSelection(stack.stackId	)" value="select stack"/>
	   		</li>
	   	</ul>
   	</div>
   	
    
}